# CRS transformation
## This notebook provides a tool of transformation of X,Y coordinates between different CRS.
### Basic input is the epsg code, as well as below included libraries.
#### Compiled by A.Androvitsanea (androvitsanea@archaeoengineering.org)

[You need to install package pyproj](https://pypi.org/project/pyproj/)

In [54]:
# Here we import basic libraries needed
from pyproj import Proj, transform
import pandas as pd
from scipy.interpolate import interp1d
import matplotlib.pyplot as plt
import numpy as np
import datetime
%matplotlib inline

In [87]:
# Here we transform a set of X, Y from EPSG:2100 to EPSG:4326 creating a tuple dataset.
# Inset here the EPSG code of your current projection
inProj = Proj(init='epsg:2100')

# Insert here the EPSG you wish to transform your data to
outProj = Proj(init='epsg:4326')

# Write the X and Y coordinates to be transformed
x1 = 754341
y1 = 4173037

# This function performs the transformation
yx2 = transform(inProj,outProj,x1,y1)

# Here you can print your result
print(yx2)

(26.885477086487736, 37.671850193529124)

In [88]:
# Here we transform a set of X, Y from EPSG:4326 to EPSG:2100 creating a tuple dataset.
inProj = Proj(init='epsg:4326')
outProj = Proj(init='epsg:2100')
x1 = 37.671850193529124
y1 = 26.885477086487736
xy2 = transform(inProj,outProj,y1,x1)
print(xy2)

(754340.9991586995, 4173036.9983472223)

# In case you have a set of points with given X, Y coordinates in a csv, you can work as following :
[Check here on how to insert tables in with pandas](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html)

In [90]:
# Insert your data which include X und Y columns
df = pd.read_csv("sample_coordinates.csv", sep = ";",header = 0, index_col = "po", decimal = ".")
df

         X        Y
po
1   754340  4173036
2   754341  4173037
3   754342  4173038
4   754343  4173039

In [95]:
# Define the function that will work row-wise performing the transformation for each set of X,Y from EPSG 2100 TO 4326

def tranformation_EPSG_2100_4326(row):
    inProj = Proj(init='epsg:2100')
    outProj = Proj(init='epsg:4326')
    return transform(inProj,outProj,row["X"],row["Y"])

In [94]:
# Use the apply functino of pandas to implement the above defined function to a dataset

df.apply(tranformation_EPSG_2100_4326, axis=1)

po
1      (26.885465412596457, 37.6718414689022)
2    (26.885477086487736, 37.671850193529124)
3    (26.885488760381755, 37.671858918154776)
4     (26.885500434278487, 37.67186764277914)
dtype: object