# CRS transformation
## This notebook provides a tool of transformation of X,Y coordinates between different CRS.
### Basic input is the epsg code, as well as below included libraries.
#### Compiled by A.Androvitsanea (androvitsanea@archaeoengineering.org)

[You need to install package pyproj](https://pypi.org/project/pyproj/)

In [4]:
# Here we import basic libraries needed
from pyproj import Proj, transform
import pandas as pd
from scipy.interpolate import interp1d
import matplotlib.pyplot as plt
import numpy as np
import datetime
%matplotlib inline

In [5]:
# Here we transform a set of X, Y from EPSG:2100 to EPSG:4326 creating a tuple dataset.
# Inset here the EPSG code of your current projection
inProj = Proj(init='epsg:2100')

# Insert here the EPSG you wish to transform your data to
outProj = Proj(init='epsg:4326')

# Write the X and Y coordinates to be transformed
x1 = 754341
y1 = 4173037

# This function performs the transformation
xy2 = transform(inProj,outProj,x1,y1)

# Here you can print your result
print(xy2)

(26.885477086487736, 37.671850193529124)

In [6]:
# Here we transform a set of X, Y from EPSG:4326 to EPSG:2100 creating a tuple dataset.
inProj = Proj(init='epsg:4326')
outProj = Proj(init='epsg:2100')
x1 = 26.885477086487736
y1 = 37.671850193529124
xy2 = transform(inProj,outProj,x1, y1)
print(xy2)

(754340.9991586995, 4173036.9983472223)

# In case you have a set of points with given X, Y coordinates in a csv, you can work as following :
[Check here on how to insert tables in with pandas](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html)

In [124]:
# Insert your data which include X und Y columns
df = pd.read_csv("sample_coordinates.csv", sep = ";",header = 0, index_col = "po", decimal = ".")
df

                X             Y
po
1   754340.999159  4.173037e+06
2   754341.999159  4.173038e+06
3   754342.999159  4.173039e+06
4   754343.999159  4.173040e+06

In [125]:
df["X"],df["Y"]

(po
 1    754340.999159
 2    754341.999159
 3    754342.999159
 4    754343.999159
 Name: X, dtype: float64, po
 1    4.173037e+06
 2    4.173038e+06
 3    4.173039e+06
 4    4.173040e+06
 Name: Y, dtype: float64)

In [126]:
def tranformation(row):
    inProj = Proj(init='epsg:4326')
    outProj = Proj(init='epsg:2100')
    return transform(inProj,outProj,row["X"],row["Y"])

In [127]:
type(df)

pandas.core.frame.DataFrame

In [128]:
df.apply(tranformation, axis=1)

po
1    (inf, inf)
2    (inf, inf)
3    (inf, inf)
4    (inf, inf)
dtype: object

In [129]:
def multi(row):
    return row['X']*row['Y']

In [130]:
df.apply(tranformation, axis=1)

po
1    (inf, inf)
2    (inf, inf)
3    (inf, inf)
4    (inf, inf)
dtype: object